*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
/*---------------------------------------------------
common css
----------------------------------------------------*/
.container{
    width: 97%;
    max-width: 1200px;
    margin: 0 auto;
}
p{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
}
.btn{
    border-radius: 5px;
    height: 60px;
    padding: 0px 40px;
    background: #F15B22;
    color: #fff;
    border: none;
    font-weight: 600;
    font-size: 20px;
    transition: all 0.1s ease-in-out;
}
.btn:hover{
    cursor: pointer;
    background: #c74411;
}
/*---------------------------------------------------
Banner section css
----------------------------------------------------*/
.banner{
    width: 100%;
    height: 90vh;
    background-image: url('../Assets/img/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;

}
.banner_flex{
    height: 90vh;
    /* padding: 30px 0; */
    display: flex;
    align-items: center;
}
.empty_div,.banner_content{
    flex: 1;
}
.banner_content{
    text-align: right;
}
.banner_content .banner_title{
    color: #151414;
    font-size: 60px;
    font-weight: 700;
}
.banner_content .banner_description{
    margin: 24px 0 32px 0;
}

/*---------------------------------------------------
failure section css
----------------------------------------------------*/
.failure{
    padding: 60px 0;
}
.failure_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.failure_text,.failure_img{
    flex: 1;
}
.failure_img img{
    width: 100%;
    max-width: 500px;
}
.failure_text h2{
    font-size: 40px;
    font-weight: 700;
    color: #151414;
}
.failure_text > p{
    margin: 24px 0 16px 0;
}
.check_mark_item{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.icon .fa-check{
    color: #16D887;
    margin-right: 10px;
}

/*---------------------------------------------------
My Plan section css
----------------------------------------------------*/
.plan{
    padding: 50px 0;
}
.plan .plan_title{
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
}
.plan_categories{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.plan_item{
    text-align: center;
}
.plan_item h4{
    color: #151414;
    font-size: 30px;
    font-weight: 700;
    margin: 12px 0 16px 0;
}
.plan_item p{
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}

/*---------------------------------------------------
Gradient section css
----------------------------------------------------*/
.gradient{
    padding: 50px 0;
}
.gradient_bg{
    height: 50vh;
    background-image: url('../Assets/img/gradient3.png'),url('../Assets/img/watch.png');
    background-repeat: no-repeat;
    background-size: cover,cover;
    background-blend-mode: multiply;
    border-radius: 8px;
    display: flex;
    align-items: center;
}
.gradient_content{
    margin-left: 64px;
}
.gradient_content h2{
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 24px;
}
.gradient_content .btn,.subscribe .btn{
    background: #fff;
    color: #F15B22;
    transition: all 0.2s ease-in-out;
}
.gradient_content .btn:hover,.subscribe .btn:hover{
    border-radius: 30px 0 30px 0;
    background: #fff;
}

/*---------------------------------------------------
Footer section css
----------------------------------------------------*/
footer{
    background: #151414;
    padding: 50px 0;
}
.footer_content{
    display: flex;
    justify-content: space-between;
    column-gap: 300px;
}
.future,.subscribe{
    flex: 1;
}
.future h2{
    font-size: 45px;
    font-weight: 700;
    color: #F8F8F8;
}
.future p{
    color: #fff;
}
.future .desc{
    margin: 16px 0 24px;
}
.future .phone{
    margin: 16px 0 32px;
}
.future .social_icon a{
    margin-right: 17px;
}
.future .social_icon a img{
    width: 46px;
    height: 46px;
}

.subscribe h2{
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 31px;
}
.subscribe form{
    padding: 0;
}
.subscribe form input{
    display: block;
    border-radius: 8px;
    border: 1px solid #fff;
    background: transparent;
    outline: none;
    width: 100%;
    padding: 20px 15px;
    font-size: 18px;
    color: #F3F3F3;
    margin-bottom: 16px;
}
.subscribe form input::placeholder{
    color: #F3F3F3;
}